[submodule "opennebula"]
	path = opennebula
	url = https://github.com/bezirg/opennebula
[submodule "haxr-browser"]
	path = haxr-browser
	url = https://github.com/bezirg/haxr
[submodule "abs-frontend"]
	path = abs-frontend
	url = https://github.com/CrispOSS/abs-frontend.git
    branch = pro  # for syntax extensions required by PA