[submodule "opennebula"]
	path = opennebula
	url = https://github.com/bezirg/opennebula
[submodule "haxr-browser"]
	path = haxr-browser
	url = https://github.com/bezirg/haxr
[submodule "abs-new-frontend"]
	path = abs-new-frontend
	url = https://github.com/CrispOSS/abs-new-frontend.git
